<div class="flex justify-center items-center min-h-screen">
    <div class="absolute bg-green-950 border-green-500 border-4 rounded-xl h-[5vh] md:w-[30vw] w-[90vw] top-1/4">
        <p class="text-white text-[3vh] font-bold text-center">
            Waiting for opponent...
        </p>
    </div>
    <div class="absolute bg-green-950 border-green-500 border-4 rounded-xl h-[5vh] md:w-[55vw] w-[90vw] top-1/2">
        <p class="text-white text-[2vh] text-center"> Share this code with your opponent so they can join: <span class="font-bold">{{ this.gameID }}</span></p>
    </div>
</div>